.DS_Store
__pycache__
*.pyc
.git
.gitignore
config.py
ksi-py3-venv
.ipynb_checkpoints

.idea

build/*
*_build/*.html
*_build/archived/*

.env
*.secret

!**/.gitkeep
!**/index.html

docker-compose.yaml
docker/Dockerfile
